.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: PapayaWhip;
  animation-name: anim;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
img {
  border-radius: 10%;
}
p.bible{
  margin: 20px;
  font-size: 150%;
}
