{% extends "base.html" %}

{% block title %}Bible Page{% endblock %}

{% block content %}
<center>
<h1>Here are the core tenets of our bible:</h1>
</center>
<p style="color:Tomato;" class="bible">1. Ptitiel was made in a world of chaos and heat, that he then cooled down and created a new world, named Maaglacio.</p>
<p style="color:SlateBlue;" class="bible">2. In the second day after the cooling of the world, Ptitial created his children: Kapoela, Baradina, Karhonil, Elishelg, Laglacio and Glaciel, and he made them gods.</p>
<p style="color:Orange;" class="bible">3. In the third day after the cooling of the world, he split Maaglacio into 6 districts, and gave one to each of his children: to Karhonil he gave Raidopolis, to Kapola he gave Palaceoglass, to Laglacio he gave Glaciopolis, to Baradina he gave Maloarma, to Elishelg he gave Halonba and to Glaciel he gave Tasvivioki.</p>
<p class="bible" style="color:Violet;">4. In the end of the first year after the cooling of the world, after the gods finished their training, the dust giants came and started to fight the 7 gods. During the war, Ptitial sacrificed himself and turned into a diamond ball to fend off the giants forever. From then on, the ball is situated in Palaceoglass, in the city of Ptiticity, in a giant temple.</p>
<p class="bible" style="color:MediumSeaGreen;">5. 1000 years after the cooling of the world, the refugees from earth came, split into 6 groups, and each group went to a different district. every district has a representative, who is a part of the Maaglacio council. the council listens to the diamond ball, and does as it says.</p>
<p class="bible" style="color:rgb(0, 100, 255)">6. The representatives are also the delegates of their district and their god. They tell about the requests of their god and their people that they think are worthy of discussing.</p>
<p class="bible" style="color:rgb(137, 200, 124)">7. Ever since the settling, the refugees are exploring Maaglacio, and training themselves and their children, preparing for the dust giants, in the case that they will come and attack again</p>
{% endblock %}