{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<center>
<h1 style="color:rgb(0, 0, 255);">This is the home page for the maaglacio website!</h1>
</center>
<div class="row">
    <div class="column">
        <img src="https://lh3.googleusercontent.com/zLYqQ_Bb0Uq3Bjt3PxMELBRuU5GyDXS-hZItZxMKvQsNiL8MmStekrMDbXFndzOIP1P2e688RliFM50R76TMUCc8WCwqWZ6eWLdkk3jntfFnL9XVMMDWkpQGnXLjAU---IrqIK1DMGddUBW9UGuHwhDxkgcjmNSCj2VF6xgoBH-4udolT3nw9Mkp9jbC32Riq_iFcCt_ZN5_y4bSYDd5o6vljOgGicws-DREiWsgKP2zl5p9sMgg4lG8wSg1hLufWiA3Zoo7pfCjtRlFgbiwvro7GAzKjoSTz4hJ-_O6vD3g1OKS0wazHFK3iVAQSfG0BpKYR_vDHT-0o7vxaxpyXqtdRNtKpEgIb4mYTQnOkHtDSUAWfw1BKHpXRvBH1JRht60HPKbgu9Bq7XS9lEf3p0oVI4EYAlMnVWdyFpG2jYWRTgAGoog_OcWI0r-XpAnNwkfMQbFBi3SX6WR4OySNaVLc-BMMaCZLRZ5dknkmpakgYWoKa_p9lBgTTlfrLE5rPTthIHM0BVfv0Pv5d2Y0ZmCQ2wUTGIpm5e8ZgT_SI31PzHAk7tk2_xkeUhJml4TbMg6w5smgMFZmz44QaToFgA8h2CCPi2Z_39pvTWK40q50Haa3wBT6NWrJLGFif3qM68ADVWr0uL1z3sU-0rIjJGJ9IFbWgaHwanBD0P3EfJp7iGM3-zVyBjwL5hfJ30fLG_kNIsPNmf_csNnNdxT4Z_A=w1280-h731-no?authuser=0" alt="flag" height="600" width="900">
    </div>
    <div class="column">
        <img src="https://lh3.googleusercontent.com/TBYpzIJbU8L-Q6ZzFsAZ2mbdpFu0oFHzNSKrmnV0YGX-HQBIBal00rx6ow9UBllym-NIOT1YID2nvDFetSkQiXDEQdy-hRZ5Ah7WWeEk6QpPacMBk4d-LM5pu2Y3iocZn2fImNXLVZ8kShTqNk4NkbDnWGXyoLMY2vG8Tlu5e5XLWx71FufVpccHA3IjdpeJsByplFg_vkFyCWIF7ZWPFhYoXO8p2d8ZarbsfZLojF64x0VupKJkTmYO6bM0qG2NbH11-ihEobXIAinhKYhsZECMlbl-9kib2yI0EZrJA2gOsK_iJ86D9HpmzbAsP7We-FeaylpP1uC8y6PWuxeHZhD-XI-O0hwex0D8MlduRIUBkLZTnNnja_2EMa6NHFsix3biFzguzzmSYcAT8QInqh9Id6s6MZepdrHIYlXVy06S0cKXgHlTJo0W26mTx6f33b2uQDBHkzMZqbDrDvS6Te6BIny2MihsRiVdnzC-X_HIUgjQ5rDBJPhJya1NdOhTdvSvafATHmQ5FcW505DObNhYB7IOFaHiprOW-SweGJXi6P7ikB12CGpHgx9w_-CRuS7t4duFZzrpu6L6SdJBT0NWhw1e84BSIYwD9YLhw6K4pePQGJxi15OWxHhSmtu-eFr0eDsvkUKw75Kb5I-aWEoHIuqFUHchTs4XEXydurAqMB89xIQ5itG_y_e18jxE1zdtAcr2dwdwpuhMkYHzY08=w569-h661-no?authuser=0" alt="sign" width="900" height="600">
    </div>
</div>
<div class="row">
    <div class="column">
        <center>
        <p style="font-size:150%">This is the flag of our proud nation!</p>
        </center>
    </div>
    <div class="column">
        <center>
        <p style="font-size:150%">This is the symbol of our great nation!</p>
        </center>
    </div>
</div>
<center>
    <h1 style="color:rgb(0, 153, 255);">And together they represent the nation of Maagacio!</h1>
</center>
{% endblock %}
